<%- include("header") -%>
  <div class="container user">
    <div class="row">
      <div class="col user-info shadow-sm">
        <h1>Hi,Tahur</h1>
      </div>
      <div class="col-5">
        2 of 3 (wider)
      </div>
    </div>

  </div>



  <div class="container">
    <div class="row">
      <div class="col-5">

        <div class="form-name my-3">
          <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add New +
          </button>
  
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              

              <div class="modal-content">
        
                <div class="modal-body">
                  <form class="row g-3">
                    <div class="col-auto">
                      <h5 class="text-muted">Task Name</h5>

                    </div>
                    <div class="col-auto">



                      
                      <input type="text" class="form-control" id="inputPassword2" placeholder="...">
                    </div>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-3">Save</button>
                    </div>
                  </form>







                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="todos my-2">

          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  My Work 
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            </div>

        </div>

        <div class="todo-1 my-2">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
                  My Work 
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            </div>

        </div>

        <div class="todo-2 my-2">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapseOne">
                  My Work 
                </button>
              </h2>
              <div id="collapse3" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            </div>

        </div>

        
  





        




      </div>
      <div class="col-2"></div>
      <div class="col-5">
        2 of 3 (wider)
      </div>
    </div>

  </div>










     
    
 

 

























  <!-- <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div> -->

  <!-- <div class="box">
    <% newListItems.forEach(function(item){ %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" value="<%=item._id%>" onChange=" this.form.submit()" name="checkbox" ">
          <p>
            <%= item.name %>
          </p>
        </div>
        <input  type="hidden" name="listName" value="<%= listTitle %>">

      </form>



      <% }) %>


        <form class=" item" action="/" method="post">
          <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
          <button type="submit" name="list" value="<%=listTitle%>">+</button>
        </form>
  </div> -->

  <%- include("footer") -%>